body{
    font-family: 'Alata', sans-serif;
    background-color: black;
    margin: 0;
    position: relative;
}


.topnav {
  overflow: hidden;
  background-color: ;
}

.topnav a {
    float:left;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  min-height: 17px;
    padding:16px 18px;
    text-transform:;
}

.topnav a.topnav-right{
    float:right; 
}

.topnav a.active {
  background-color:;
  color:#0080ff;
}

.topnav a:hover {
  background-color: #0080ff;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
 
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position:relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align:left;
  }
}



h1{
    font-size: 20px;
    color:white;
    text-align: center;
    padding-top: 80px;
}

h2{
    text-align: center;
    padding: 100px 0px;
    font-size: 70px;
    color:skyblue;
}






footer{
    text-align: center;
    color: white;
}